body {
	font-family: "Montserrat", sans-serif;
	background-color: #f5f7fa;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	font-style: normal;
}
/* main styles */

.main {
	display: flex;
	flex-direction: row-reverse;
	/* width: 1200px; */
	/* margin: 0 auto; */
	justify-content: center;
}

/* .main_content styles */

.main_content {
	background-color: #ffffff;
	box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
	padding: 30px 80px;
}
/* about styles  */

.about {
	margin-bottom: 40px;
}

.about_possition {
	text-transform: uppercase;
	text-align: center;

	font-weight: 700;
	line-height: 17px;
	color: #000000;

	margin-bottom: 20px;
}

.about_name {
	text-align: center;

	font-weight: 700;
	font-size: 45px;
	line-height: 55px;

	color: #000000;
	margin-bottom: 25px;
}

.about_description {
	/* text-align: justify; */

	color: #595959;

	width: 400px;
}

/* project styles  */
.projects {
	margin-bottom: 30px;
}

.project_description {
	padding: 5px;
	margin: 0;
	width: 400px;
}

.title {
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 10px;
}

.project_list {
	padding: 0px;
	margin-left: 15px;
}

.project_a,
.project_link {
	color: #595959;
}

.project_link {
	margin-left: 10px;
}

.project_link:hover,
.project_link:focus {
	color: orange;
}

/* work styles */

.work {
	padding-top: 0px;
	margin-bottom: 10px;
}

.organisation {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

.work_possition {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 15px;
}

.period {
	font-size: 12px;
	line-height: 15px;

	margin-bottom: 10px;
}

.line {
	font-size: 12px;
	line-height: 15px;
	color: #000000;
}

.work_list {
	padding: 0px;
	margin-left: 15px;
}

.work_list_item {
	color: #595959;
}

/* Education styles */

.education {
	padding-top: 10px;
	margin-bottom: 10px;
}

.University {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 10px;
}

.study {
	font-weight: 700;

	line-height: 17px;
	color: #000000;
	margin-bottom: 10px;
}

/* sidebar styles */

.sidebar {
	background-color: #121923;
}

.photo {
	width: 270px;
	height: 350px;
	margin-bottom: 50px;
}

.contact_list {
	color: #ffffff;
	padding: 0;
	margin: 0;
	list-style: none;
}
.contact_item {
	display: flex;
	align-items: center;
}

.contacts,
.tech_skills,
.soft_skills {
	margin-left: 40px;
}

.contacts__icon-mail {
	fill: #ffffff;
	width: 15px;
	height: 16px;
	margin-right: 10px;
}

.soft_skills {
	margin-top: 50px;
}

.contacts {
	margin-bottom: 50px;
}
.tech_skills {
	list-style: none;
	margin-bottom: 45;
}

.sidebar_title {
	color: #ffffff;

	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 10px;
}

.contact_type {
	font-weight: bold;

	color: #ffffff;
	margin-right: 10px;
}

.contact_link {
	font-weight: normal;

	color: #8a8c8e;
}

.contact_link:hover,
.contact_link:focus {
	color: orange;
}

.tech_skills_list {
	list-style: none;
	color: #ffffff;
	padding: 0;
	margin-left: 17px;
}

.soft_skills_list {
	list-style: none;
	color: #ffffff;
	padding: 0;
	margin-left: 17px;
}

.tech_skills_item {
	color: #000000;
}

.tech_skills_text {
	color: #ffffff;
}

.soft_skills_item {
	color: #000000;
}

.soft_skills_text {
	color: #ffffff;
}
