body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
   
}
/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    
}

/* .main_content styles */

.main_content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}
 /* about styles  */

.about {
   margin-bottom: 40px;
}

.about_possition {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    margin-bottom: 20px; 
}


.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    
    color: #000000;
    margin-bottom: 25px;
}

.about_description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    color: #595959;

    width: 400px;
}

/* project styles  */
.projects {
 margin-bottom: 50px;
}

.title {
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #000000;
margin-bottom: 10px;
}

.project_list {
    padding: 0px;
    margin-left: 15px;
}

.project_item, .project_bracket {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project_a, .project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link {
    margin-left: 10px;
}

/* work styles */

.work {
    padding-top: 0px;
    margin-bottom: 10px;
}

.organisation {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.work_possition {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 15px;
}

.period {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #A8A8A8;
margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0px;
    margin-left: 15px;
}

.work_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Education styles */

.education {
    padding-top: 40px;
    margin-bottom: 10px;
}

.University {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.study {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}
.contacts, .tech_skills, .soft_skills {
    margin-left: 40px;
}
.soft_skills {
    margin-top: 50px;
}

.contacts {
    margin-bottom: 50px;
}
.tech_skills {
    margin-bottom: 45;
}


.sidebar_title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact_type{ 
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contact_link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
}

.tech_skills_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.soft_skills_list{
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.tech_skills_item {
    color: #FB6D3A;
}

.tech_skills_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    color: #FFFFFF;
}

.soft_skills_item {
    color: #FB6D3A;
}

.soft_skills_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
